body {
  padding: 0;
  margin: 0;
  color: #8b8b8b; }

section {
  margin-top: 25px;
  padding-top: 10px; }

ul {
  padding: 0;
  margin: 0; }

li {
  list-style: none; }

.clr {
  clear: both; }

.wrapper {
  max-width: 1350px;
  margin: 0 auto;
  padding: 0 20px; }

.text-header {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center; }

header .top-header {
  background: #252323; }
  header .top-header .menu-btn {
    display: none;
    color: #fff;
    font-size: 20px; }
  header .top-header .logo {
    display: inline-block;
    margin: 10px 0;
    color: #fff;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 20px;
    text-decoration: none; }
    header .top-header .logo span {
      color: #00bac6; }
header .bottom-header {
  background: #fff; }
  header .bottom-header .top-navigation ul {
    padding: 35px; }
    header .bottom-header .top-navigation ul li {
      float: left;
      margin-right: 25px; }
      header .bottom-header .top-navigation ul li a {
        text-decoration: none;
        color: #8b8b8b;
        text-transform: uppercase;
        font-size: 20px; }
      header .bottom-header .top-navigation ul li a:hover {
        color: #00bac6; }

.top-picture {
  background: url(../img/pic/banner2.jpg) no-repeat center;
  background-size: cover;
  height: 600px; }

.about .avatar {
  float: left;
  max-width: 150px;
  margin-right: 25px; }
  .about .avatar img {
    width: 100%; }

.portfolio {
  background: #eeeeee; }
  .portfolio .works {
    margin-top: 25px; }
    .portfolio .works .item {
      margin-bottom: 25px;
      text-align: center;
      transition: all 0.3s; }
      .portfolio .works .item img {
        width: 100%; }
      .portfolio .works .item a {
        display: inline-block;
        overflow: hidden;
        transition: transform, 0.3s;
        max-width: 360px;
        max-height: 300px; }
      .portfolio .works .item a:hover {
        transform: scale(1.1);
        z-index: 4; }

footer {
  padding: 200px 0 50px 0;
  background: #000 url(../img/footer-bg3.jpg) no-repeat;
  background-size: cover; }
  footer .bottom-navigation {
    float: left;
    margin-left: 15%; }
    footer .bottom-navigation a {
      display: inline-block;
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 20px; }
    footer .bottom-navigation a:hover {
      color: #00bac6; }
  footer .contacts {
    float: right;
    margin-right: 15%;
    color: #fff; }

@media only screen and (max-width: 768px) {
  header {
    position: fixed;
    z-index: 5;
    width: 100%; }
    header .top-header .menu-btn {
      display: inline-block; }
    header .top-header .logo {
      margin-left: 40px; }
    header .bottom-header .wrapper {
      padding: 0; }
      header .bottom-header .wrapper .top-navigation {
        display: none;
        position: absolute;
        width: 100%;
        background: #fff; }
        header .bottom-header .wrapper .top-navigation ul {
          padding: 0;
          text-align: center; }
          header .bottom-header .wrapper .top-navigation ul li {
            float: none;
            margin: 0;
            border-bottom: 1px solid #000; }
            header .bottom-header .wrapper .top-navigation ul li a {
              display: inline-block;
              padding: 10px; }

  .top-picture {
    height: 500px; }

  .about .avatar {
    max-width: 100px; }

  footer {
    padding-top: 70px; } }
@media only screen and (max-width: 600px) {
  footer {
    padding-top: 50px; }
    footer .bottom-navigation, footer .contacts {
      display: block;
      float: none;
      text-align: center;
      margin: 0;
      margin-bottom: 20px; } }
@media only screen and (max-width: 480px) {
  .top-picture {
    height: 400px; } }

/*# sourceMappingURL=main.css.map */
