$hover-color: #00bac6;
$nav-font-size: 20px;
body {
	padding: 0;
	margin: 0;
	color: #8b8b8b;
}
section {
	margin-top: 25px;
	padding-top: 10px;
}
ul {
	padding: 0;
	margin: 0;
}
li {
	list-style: none;
}
.clr {
	clear: both;
}
.wrapper {
	max-width: 1350px;
	margin: 0 auto;
	padding: 0 20px;
}
.text-header {
		font-family: 'Gloria Hallelujah', cursive;
		font-size: 30px;
		font-weight: bold;
		text-transform: uppercase;
		text-align: center;
	}
header {
	.top-header {
		background: #252323;
		.menu-btn {
			display: none;
			color: #fff;
			font-size: 20px;
		}
		.logo {
			display: inline-block;
			margin: 10px 0;
			color: #fff;
			font-family: 'Gloria Hallelujah', cursive;
			font-size: 20px;
			text-decoration: none;
			span {
				color: $hover-color; 
			}
		}
	}
	.bottom-header {
		background: #fff;
		.top-navigation{
			ul {
				padding: 35px;
				li{
					float: left;
					margin-right: 25px;
					a {
						text-decoration: none;
						color: #8b8b8b;
						text-transform: uppercase;
						font-size: $nav-font-size;
					}
					a:hover {
						color: $hover-color;
					}
				}
			}
		}
	}
}
.top-picture {
	background: url(../img/pic/banner2.gif) no-repeat center;
	background-size: cover;
	height: 600px;
}
.about {
	.avatar {
		float: left;
		max-width: 366px;
		margin-right: 25px;
		img {
			width: 100%
		}
	}
	.about-content {

	}
}

.portfolio{
	background: #eeeeee;
	.works {
		margin-top: 25px;
		.item {
			margin-bottom: 25px;
			text-align: center;
			transition: all 0.3s;
			img {
				width: 100%
			}
			a {
				display: inline-block;
				overflow: hidden;
				transition: transform, 0.3s;
				max-width: 360px;
				max-height: 300px;
			}
			a:hover {
				transform: scale(1.1);
			}
		}
		
	}
}
footer {
	padding: 300px 0 50px 0;
	background: #000 url(../img/footer-bg3.jpg) no-repeat;
	background-size: cover;
	.bottom-navigation {
		float: left;
		margin-left: 15%;
		a {
			display: inline-block;
			color: #fff;
			text-decoration: none;
			text-transform: uppercase;
			font-size: $nav-font-size;
		}
		a:hover {
				color: $hover-color;
			}
	}
	.contacts {
		float: right;
		margin-right: 15%;
		color: #fff;
	}
}
@media only screen and (max-width: 768px){
	header {
		.top-header {
			
			.menu-btn {
				display: inline-block;
			}
			.logo {
				margin-left: 40px;
			}
		}
		.bottom-header {
			.wrapper {
				padding: 0;
				.top-navigation {
						display: none;
						position: absolute;
						width: 100%;
						background: #fff;
						ul {
							padding: 0;
							text-align: center;
							li {
								float: none;
								margin: 0;
								border-bottom: 1px solid #000;
								a {
									display: inline-block;
									padding: 10px;
								}
							}
						}
				}
			}	
		}	
	}
	.top-picture {
		height: 500px;
	}
	footer {
		padding-top: 70px;
	}
}
@media only screen and (max-width: 600px){
	footer {
		padding-top: 50px;
		.bottom-navigation, .contacts {
			display: block;
			float: none;
			text-align: center;
			margin: 0;
			margin-bottom: 20px;
		}
	}	
}
@media only screen and (max-width: 480px){
	.top-picture {
		height: 400px;
	}
}